.top {
    color: pink;
    font-family: Helvetica;
    padding: 50px;
    margin: 20px 20px 0px 20px;
    border: rgb(206, 79, 79); 
    border-style: solid; 
    border-radius: 15px;
}
.name {
    text-align: right;
    font-family: Helvetica;
    padding: 50px; 
}
.headings {
    text-align: center;
    margin: 20px;
    font-family: Helvetica;
    font-weight: 300;
}
tr, th, td {
    border: 1px solid black;
    padding: 15px; 
    min-width: 200px;
}
body {
    text-align: center;
}
.links {
    text-align: left;
    font-family: Helvetica; 
    padding: 0px 50px 0px 50px;
}
.content {
    text-align: left;
    font-family: Helvetica; 
}
.bottom {
    font-weight: 600;
    font-size: larger;
    margin: 100px;
    font-family: Helvetica;
}
.write {
    margin: 20px;
    text-align: left;
}
.pic {
    margin: 20px;
    padding: 20px; 
    border: rgb(206, 79, 79); 
    border-style: 1px solid;
    border-radius: 15px;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    color: grey;
    text-decoration: underline;
}
a:active {
    color: red;
}
.table {
      width: 1100px;
      box-sizing: border-box;
      margin: 100px auto;
}
.page {
      width: 1300px;
      margin: 100px auto;
}
.content:nth-child(2) {
    text-align: center; 
}
.content:nth-child(3) {
    text-align: center;
}
.content:nth-child(4) {
    text-align: center;
}