* {
    margin: 0;
    padding: 0;
  }

.top {
    color: pink;
    font-family: Helvetica;
    padding: 50px;
    margin: 20px;
    border: rgb(206, 79, 79); 
    border-style: solid; 
    border-radius: 15px;
}
.name {
    text-align: right;
    font-family: Helvetica;
}
.headings {
    text-align: center;
    margin: 50px;
    font-family: Helvetica;
    font-weight: 300;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th, td {
    border: 1px solid black;

}
body {
    text-align: center;
}
.links {
    text-align: left;
    font-family: Helvetica; 
    padding: 20px;


}
.content {
    text-align: left;
    font-family: Helvetica;
}
.bottom {
    font-weight: 600;
    font-size: larger;
    margin: 100px;
    font-family: Helvetica;
}
.write {
    margin-bottom: 100px;
}
.pic {
    margin-bottom: 100px;
    margin-top: 100px;
}